<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
   
	<section class="sub-header">
        <img src="assets\images\vrs.jpg">
		<h1>Departments</h1>
    </section>

	<section class="departments">
		<h1>OUR DEPARTMENTS</h1>
		<p>It offers undergraduate education and postgraduate education in engineering. The institution is the first private institution to 
            offer engineering education in united Andhra Pradesh and first private college to offer PG Programmes in engineering in the state in the year 1977. 
            The college was approved to be an autonomous institution by Acharya Nagarjuna University in the year 1977.</p>
		<div class="row">
			<div class="departments-col">
				<h3>ELECTRONIC AND INSTRUMENTATION</h3>
                <p>Instrumentation Engineering is a specialised branch of Electrical and Electronics Engineering, primarily focussing on the principles 
                    and operations of measuring instruments used in the design and configuration of automated systems. Instrumentation technology helps create, 
                    construct and maintain measuring and control devices and systems found in manufacturing plants and research institutions. Hence those with B.Tech. 
                    and M.Tech. degrees in Electronics, Applied Electronics and Instrumentation Engineering can find jobs in these fields. Public-sector companies
                     such as Instrumentation Ltd., Bharat Electronics Ltd. and Bharat Heavy Electricals Ltd. provide job opportunities.</p>
			</div>
            <div class="departments-col">
                <img src="assets\images\eie.jpg" width="460" height="340">
            </div>
        </div>

        <div class="row">
			<div class="departments-col">
				<h3>COMPUTER SCEIENCE ENGINEERING</h3>
                <p>CSE engineering comprises the basic knowledge of computer programming and networking. The computer science engineering course will give ample knowledge 
                    about the implementation, design and management of the entire information system in hardware and software aspects.As the name suggests, computer science engineering is a 
                    study that encompasses the theory of computation and the design and implementation of computational systems.This is a course which is offered all over the globe 
                    in the best of the technical institutions and a student can do graduation as well as post-graduation degrees.</p>
			</div>
            <div class="departments-col">
                <img src="assets\images\cse.jpg" width="460" height="340">
            </div>
        </div>

        <div class="row">
			<div class="departments-col">
				<h3>MECHANICAL ENGINEERING</h3>
                <p>The mechanical engineering field requires an understanding of core areas including mechanics, dynamics, thermodynamics, materials science, 
                    structural analysis, and electricity. In addition to these core principles, mechanical engineers use tools such as computer-aided design (CAD), 
                    computer-aided manufacturing (CAM), and product lifecycle management to design and analyze manufacturing plants, industrial equipment and machinery,
                    heating and cooling systems, transport systems, aircraft, watercraft, robotics, medical devices, weapons, and others. It is the branch of engineering 
                    that involves the design, production, and operation of machinery.</p>
			</div>
            <div class="departments-col">
                <img src="assets\images\mech.jpg" width="460" height="340">
            </div>
        </div>

        <div class="row">
			<div class="departments-col">
				<h3>ELECTRONIC AND ELECTRICAL ENGINEERING</h3>
                <p>In engineering practice, the distinction between electrical engineering and electronics is usually based on the comparative strength of the electric 
                    currents used. In this sense, electrical engineering is the branch dealing with “heavy current”—that is, electric light and power systems and 
                    apparatuses—whereas electronics engineering deals with such “light current” applications as telephone and radio communication, computers, radar, 
                    and automatic control systems.</p>
			</div>
            <div class="departments-col">
                <img src="assets\images\eee.jpg" width="460" height="440">
            </div>
        </div>

        <div class="row">
			<div class="departments-col">
				<h3>CIVIL ENGINEERING</h3>
                <p>Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally 
                    built environment, including public works such as roads, bridges, canals, dams, airports, sewage systems, pipelines, structural components of buildings, and railways.
                    Civil engineering is traditionally broken into a number of sub-disciplines. It is considered the second-oldest engineering discipline after military engineering</p>
			</div>
            <div class="departments-col">
                <img src="assets\images\civil.jpg" width="460" height="340">
            </div>
        </div>

	</section>
</body>
</html>

