<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
	<section class="sub-header">
        <img src="assets\images\vrs.jpg">
		<h1>Contact us</h1>
    </section>
    <br/>
	<br/>
	<br/>
    <section class="location">
    	<iframe src="https://www.google.com/maps/d/embed?mid=1Ag_4UqU_cAdh3NOsxvQTMqkO9MY&ehbc=2E312F" width="640" height="480"></iframe>
    </section>
    <section class="contact us">
    	<div class="row">
    		<div class="contact-col">
    			<div>
    				<span>
    					<h5>kanuru road</h5>
    					<p>vijayawada, andhra pradesh</p>
    				</span>
    			</div>
    			<div>
    				<span>
    					<h5>8662582334,2584930</h5>
    					<p>monday to saturday, 10am to 5pm</p>
    				</span>
    			</div>
    		</div>
    	</div>
    </section>


	
</body>
</html>
