a:link,a:visited{
    background-color: grey;
    color: aliceblue;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}
a:hover,a:active{
    background-color: navy;
}