<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
	<section class="header">
		<div class="text-box">
			<img src="assets/images/vr.jpg">
			<h1>Velagapudi Ramakrishna Siddhartha Engineering</h1>
			<p>vrsec is sponsored by the Siddartha Academy of General and Technical Education and was established in the year 1977. The campus is spread over 27 acres of land. This is an autonomous institute approved by AICTE and is affiliated to JNTUK, Kakinada. The college is accredited by the National Assessment and Accreditation Council (NAAC) and the National Board of Accreditation(NBA)</p>
		</div>
 </section>
</body>
</html>